{% extends 'web/base_admin.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
افزودن یا ویرایش دسته بندی
{% endblock %}



{% block header_page %}
<div class="page-header" xmlns="http://www.w3.org/1999/html">
					<div>

						<ol class="breadcrumb">

							<li class="breadcrumb-item active" aria-current="page">افزودن یا ویرایش دسته بندی</li>
						</ol>
					</div>

				</div>
{% endblock %}

{% block content %}

<div class="row">
					<div class="col-lg-12">
						<div class="card custom-card">
							<div class="card-body">

								<div class="row">
    <div class="col-lg-12">
        <div class="card custom-card">
            <div class="card-body">

                ...


            </div>
        </div>
    </div>
</div>
							</div>
						</div>
					</div>
				</div>
{% endblock %}

{% block javas %}

{% endblock %}

</body>
</html>