{% extends 'web/base_admin.html' %}
{% load widget_tweaks %}
{% load static %}
{% block javas2 %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}
{% block title %}
ویرایش بلاگ
{% endblock %}



{% block header_page %}
<div class="page-header" xmlns="http://www.w3.org/1999/html">
					<div>

						<ol class="breadcrumb">

							<li class="breadcrumb-item active" aria-current="page">ویرایش بلاگ</li>
						</ol>
					</div>

				</div>
{% endblock %}

{% block content %}

<div class="row">
					<div class="col-lg-12">
						<div class="card custom-card">
							<div class="card-body">

								<div class="row">
    <div class="col-lg-12">
        <div class="card custom-card">
            <div class="card-body">
                  <div class="row row-sm">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="card custom-card">
                <div class="card-body">
                    <div>
                        <h6 class="main-content-label mb-1">ویرایش وبلاگ

                        </h6>

                    </div>
                    <form method="post" action="{% url 'edit-blog' blog.pk %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="">
                            <div class="row row-sm">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-9">
                                            <div class="row  bg-light rounded pt-3">
                                                <div class="col-lg-4 form-group">
                                                    <label class="form-label">
                                                        تیتر وبلاگ : <span class="tx-danger">*</span>
                                                    </label>

                                                    {% render_field form_blog.title class="form-control" value=blog.title %}
                                                </div>
                                                <div class="col-lg-8 form-group">
                                                    <label class="form-label">
                                                        لید یا یک توضیح کوتاه برای وبلاگ : <span class="tx-danger">*</span>
                                                    </label>
                                                    {% render_field form_blog.lid col="2" class="form-control" value=blog.lid %}
                                                </div>


                                                <div class="col-lg-12 form-group">
                                                    <label class="form-label">
                                                        متن کامل وبلاگ : <span class="tx-danger">*</span>
                                                    </label>
                                                    {% render_field form_blog.description col="2" class="form-control" %}
                                                </div>



                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="row">

                                                 <div class="col-lg-12 form-group  ">
                                                                <label class="form-label">
                                                        وضعیت انتشار :
                                                                    <span
                                                                        class="tx-danger">*</span>
                                                                </label>
                                                                <select id="status" name="status" class="form-control ">
                                                                 {% if blog.status == True %}


                                                                    <option  value="True" selected>منتشر شده</option>
                                                                    <option  value="False">منتشر نشده</option>

                                                                {% else %}
                                                                   <option  value="True" >منتشر شده</option>
                                                                    <option  value="False" selected>منتشر نشده</option>
                                                                {% endif %}
                                                                </select>
                                                            </div>



                                                <div class="col-lg-12 form-group">
                                                    <label class="form-label">
                                                        دسته بندی وبلاگ را انتخاب نمائید
                                                    </label>
                                                    {% render_field form_blog.category class="form-control" %}
                                                </div>



                                                <div class="col-lg-12 form-group">
                                                    <label class="form-label">
                                                        تصویر مربوط به بلاگ <span class="tx-danger">*</span>
                                                    </label>
                                                    {% render_field form_blog.image class="dropify" %}
                                                   <img src=" {{blog.image.url}}" alt="{{blog.title}}">

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <button class="btn ripple btn-main-primary btn-block" type="submit">افزودن</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>


            </div>
        </div>
    </div>
</div>
							</div>
						</div>
					</div>
				</div>
{% endblock %}

{% block javas %}

{% endblock %}

</body>
</html>