{% load static %}
<section id="about-section" class="about-wrap style1 ptb-100 bg-vista-white">
    <img src="{% static 'index/assets/img/tub.svg' %}" alt="Image" class="section-img style2 md-none">
    <div class="container">
        <div class="row gx-5 align-items-center">
            <div class="col-xl-6">
                <div class="about-img-area style1">
                    <img src="{% static 'index/assets/img/about/about-shape-1.png' %}" alt="Image"
                         class="about-shape-1 sm-none">
                    <img src="{% static 'index/assets/img/about/water-drop-2.svg' %}" alt="Image"
                         class="water-shape-2 md-none">
                    <div dir="rtl" class="about-img-slider about-slider-one swiper-container">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="about-img-item">
                                    <div class="about-bg-one bg-f " style="background-image:url({{ section2.image1.url }})"></div>
                                    <div class="about-bg-two bg-f " style="background-image:url({{ section2.image2.url }})"></div>
                                    <div class="about-cat">
                                        <img width="50" src="{{ section2.icon1.url }}" alt="{{section2.text1}}">
                                        <span>{{section2.text1}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="about-img-item">
                                    <div class="about-bg-one bg-f " style="background-image:url({{ section2.image3.url }})"></div>
                                    <div class="about-bg-two bg-f " style="background-image:url({{ section2.image4.url }})"></div>
                                    <div class="about-cat">
                                        <img width="50" src="{{ section2.icon2.url }}" alt="{{section2.text2}}">
                                        <span>{{section2.text2}}</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="about-btn-wrap">
                            <div class="about-one-prev slider-btn style1"><i
                                    class="flaticon-right-arrow-1"></i></div>
                            <div class="about-one-next slider-btn style1"><i
                                    class="flaticon-left-arrow-2"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="about-content">
                    <div class="content-title">
                        <h2>{{section2.title}}</h2>
                        <p>
                            {{section2.lid}}
                        </p>
                        <a href="#" class="btn style1"><i class="flaticon-book"></i>اطلاعات
                            بیشتر</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
