{% load static %}
<section class="gallery-wrap style1 bg-vista-white ptb-100 pos-rel">
    <img src="{% static 'index/assets/img/tub.svg' %}" alt="Image" class="section-img style2">
    <div class="container">
        <div class="section-title style1 text-center mb-50">
            <h2>{{ section5.title }}</h2>
            <p>

                {{ section5.lid }}
            </p>
        </div>
        <div class="row">
              {% for gallery1 in galleries1 %}

            <div class="col-xl-3 col-lg-6">
                <div class="row">
                    <div class="col-12">
                        <div class="gallery-item style1 bg-f" style="background-image:url({{gallery1.images.first.image.url}});">
                            <div class="gallery-info">
                                <h5><a href="#">{{gallery1.description|safe}}</a></h5>
                                <a class="gal_btn" href="#"><i
                                        class="flaticon-left-arrow-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}



            <div class="col-xl-3 col-lg-6">

        {% for gallery5 in galleries5 %}

      <div class="gallery-item style2 bg-f" style="background-image:url({{gallery5.images.first.image.url}});">
<div class="gallery-info">
<h5><a href="#">{{gallery5.description|safe}}</a></h5>
<a class="gal_btn" href="#"><i class="flaticon-left-arrow-2"></i></a>
</div>
</div>

              {% endfor %}

</div>



            <div class="col-xl-6">
                <div class="row">
                    {% for gallery2 in galleries2 %}
                    <div class="col-xl-12  col-lg-12">
                            <div class="gallery-item style2 bg-f" style="background-image:url({{gallery2.images.first.image.url}});">
                            <div class="gallery-info">
                                <h5><a href="#">{{gallery2.description|safe}}</a></h5>
                                <a class="gal_btn" href="#"><i
                                        class="flaticon-left-arrow-2"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% for gallery3 in galleries3 %}
                    <div class="col-xl-6 col-lg-6">
                            <div class="gallery-item style2 bg-f" style="background-image:url({{gallery3.images.first.image.url}});">
                            <div class="gallery-info">
                                <h5><a href="#">{{gallery3.description|safe}}</a></h5>
                                <a class="gal_btn" href="#"><i
                                        class="flaticon-left-arrow-2"></i></a>
                            </div>
                        </div>
                    </div>
  {% endfor %}
                </div>
            </div>
        </div>
        <div class="row mt-25">
            <div class="col-md-12">
                <p class="subtitle">{{ section5.footer }}. <a class="link style1"
                                                                       href="#">مشاهده
                    خدمات <i class="flaticon-left-arrow-1"></i></a></p>
            </div>
        </div>
    </div>
</section>
