{% load static %}
<section class="why-choose-wrap style1 pt-100 pb-75 bg-racing-green">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row gx-5">
                    <div class="col-xl-6">
                        <div class="content-title mb-30">
                            <h2 class="text-white">{{section4.title}}</h2>
                            <p class="text-white">
                               {{section4.lid}}

                            </p>
                        </div>

                        {% for category in categories %}
                        <div class="wh-item">
                            <div class="wh-icon">
                                <img class="s_icon_service" width="30" alt="{{ category.name }}" src="{{ category.icon_w.url }}" >
                            </div>
                            <div class="wh-text">
                                <h5><a href="about.html">{{ category.name }}</a></h5>
                                <p>
                                    {{ category.description }}
                                </p>
                            </div>
                        </div>
                        {% endfor %}





                        <a href="{% url 'contact' %}" class="btn style1"> درخواست مشاوره<i
                                class="flaticon-left-arrow-1"></i> </a>
                    </div>
                    <div class="col-xl-6">
                        <div class="wh-video-wrap">
                            <img src="{% static 'index/assets/img/leaf-1.svg' %}" alt="Image" class="wh-shape-1">

                            <div class="wh-video bg-f " style="background-image:url({{ section4.image.url }})">
                                <a class="video-play circle"
                                   href="#"><i
                                        class="flaticon-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-100">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="fun-facts-card">
                    <i class="flaticon-rating-1"></i>
                    <p>{{ section4.text_ok }}</p>
                    <h2><span class="odometer" data-count="{{ section4.num_ok }}">00</span> +</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="fun-facts-card">
                    <i class="flaticon-growth"></i>
                    <i class="flaticon-briefcase"></i>
                    <p>{{ section4.text_project }}</p>
                    <h2><span class="odometer" data-count="{{ section4.num_project }}">00</span> +</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="fun-facts-card">
                    <i class="flaticon-farming"></i>
                    <p>{{ section4.text_tajrobe }}</p>
                    <h2><span class="odometer" data-count="{{ section4.num_tajrobe }}">00</span> +</h2>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="fun-facts-card">
                    <i class="flaticon-workers"></i>
                    <p>{{ section4.text_person }}</p>
                    <h2><span class="odometer" data-count="{{ section4.num_person }}">0</span> +</h2>
                </div>
            </div>
        </div>
    </div>
</section>

