{% load static %}
{% load setting_tag %}
{% get_setting as setting %}
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>

		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
		<meta name="description" content="پنل مدیریت">
		<meta name="author" content="محمد سعید فداالدینی">
		<meta name="keywords" content="سیستم شرکتی اختصاصی">

        <!-- Favicon -->
		<link rel="shortcut icon" href="{{ setting.favicon.url }}" type="image/png">
		<!-- Title -->
		<title>
			داشبورد -
			{{ setting.title }}
		</title>

		<!-- Bootstrap css-->
		<link href="{% static 'admin/assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>

		<!-- Icons css-->
		<link href="{% static 'admin/assets/plugins/web-fonts/icons.css' %}" rel="stylesheet"/>
		<link href="{% static 'admin/assets/plugins/web-fonts/font-awesome/font-awesome.min.css' %}" rel="stylesheet">
		<link href="{% static 'admin/assets/plugins/web-fonts/plugin.css' %}" rel="stylesheet"/>

		<!-- Style css-->
		<link href="{% static 'admin/assets/css-rtl/style/style.css' %}" rel="stylesheet">
		<link href="{% static 'admin/assets/css-rtl/skins.css' %}" rel="stylesheet">
		<link href="{% static 'admin/assets/css-rtl/dark-style.css' %}" rel="stylesheet">
		<link href="{% static 'admin/assets/css-rtl/colors/default.css' %}" rel="stylesheet">

		<!-- Color css-->
		<link id="theme" rel="stylesheet" type="text/css" media="all" href="{% static 'admin/assets/css-rtl/colors/color.css' %}">

		<!-- Select2 css -->
		<link href="{% static 'admin/assets/plugins/select2/css/select2.min.css' %}" rel="stylesheet">


		<!-- Sidemenu css-->
		<link href="{% static 'admin/assets/css-rtl/sidemenu/sidemenu.css' %}" rel="stylesheet">

		<!-- Switcher css-->
		<link href="{% static 'admin/assets/switcher/css/switcher-rtl.css' %}" rel="stylesheet">
		<link href="{% static 'admin/assets/switcher/demo.css' %}" rel="stylesheet">




	</head>