{% load static %}
{% load setting_tag %}
{% get_setting as setting %}
<!-- Sidemenu -->
<div class="main-sidebar main-sidebar-sticky side-menu">
    <div class="sidemenu-logo">
        <a class="main-logo" href="#">
            <img src="{{ setting.logo.url }}" class="header-brand-img desktop-logo" alt="{{ setting.title }}">
            <img src="{{ setting.logo.url }}" class="header-brand-img icon-logo" alt="{{ setting.title }}">
            <img src="{{ setting.logo.url }}" class="header-brand-img desktop-logo theme-logo"
                 alt="{{ setting.title }}">
            <img src="{{ setting.logo.url }}" class="header-brand-img icon-logo theme-logo" alt="{{ setting.title }}">
        </a>
    </div>
    <div class="main-sidebar-body">
        <ul class="nav">
            <li class="nav-header"><span class="nav-label">داشبورد</span></li>

            <li class="nav-item">
                <a class="nav-link with-sub" href="#"><span class="shape1"></span><span class="shape2"></span><i
                        class="ti-home sidemenu-icon"></i><span class="sidemenu-label">تنظیمات سایت</span><i
                        class="angle fe fe-chevron-left"></i></a>
                <ul class="nav-sub">
                    <li class="nav-sub-item">
                        <a class="nav-sub-link" href="{% url 'update-app-setting' %}">تنظیمات اصلی</a>
                    </li>
                    <li class="nav-sub-item">
                        <a class="nav-sub-link" href="{% url 'update-section1' %}">ویرایش اسلایدر بالای سایت</a>
                    </li>
                    <li class="nav-sub-item">
                        <a class="nav-sub-link" href="{% url 'update-section2' %}">ویرایش بخش دوم سایت</a>
                    </li>
                     <li class="nav-sub-item">
                        <a class="nav-sub-link" href="{% url 'update-section3' %}">ویرایش بخش خدمات سایت</a>
                    </li>
                    <li class="nav-sub-item">
                        <a class="nav-sub-link" href="{% url 'update-section4' %}">ویرایش بخش چرا پاشاکود سایت</a>
                    </li>
                    <li class="nav-sub-item">
                        <a class="nav-sub-link" href="{% url 'update-section5' %}">ویرایش بخش گالری سایت</a>
                    </li>
                    <li class="nav-sub-item">
                        <a class="nav-sub-link" href="{% url 'update-section6' %}">ویرایش بخش فوتر سایت</a>
                    </li>

                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link with-sub" href="#"><span class="shape1"></span><span class="shape2"></span><i
                        class="ti-wallet sidemenu-icon"></i><span class="sidemenu-label">مدیریت وبلاگ</span><i
                        class="angle fe fe-chevron-left"></i></a>
                <ul class="nav-sub">

                    <li class="nav-sub-item">
                        <a class="nav-sub-link" href="{% url 'blog-list-admin' %}">لیست وبلاگ </a>
                    </li>
<li class="nav-sub-item">
                        <a class="nav-sub-link" href="{% url 'add-blog' %}">افزودن بلاگ جدید </a>
                    </li>

                </ul>
            </li>

                <li class="nav-item">
                <a class="nav-link with-sub" href="#"><span class="shape1"></span><span class="shape2"></span><i
                        class="ti-wallet sidemenu-icon"></i><span class="sidemenu-label">مدیریت خدمات</span><i
                        class="angle fe fe-chevron-left"></i></a>
                <ul class="nav-sub">

                    <li class="nav-sub-item">
                        <a class="nav-sub-link" href="{% url 'service-list-admin' %}">لیست خدمات </a>
                    </li>
<li class="nav-sub-item">
                        <a class="nav-sub-link" href="{% url 'add-service' %}">افزودن خدمات جدید </a>
                    </li>

                </ul>
            </li>

            </li>

                <li class="nav-item">
                <a class="nav-link with-sub" href="#"><span class="shape1"></span><span class="shape2"></span><i
                        class="ti-wallet sidemenu-icon"></i><span class="sidemenu-label">مدیریت گالری</span><i
                        class="angle fe fe-chevron-left"></i></a>
                <ul class="nav-sub">

                    <li class="nav-sub-item">
                        <a class="nav-sub-link" href="{% url 'gallery-list-admin' %}">لیست گالری </a>
                    </li>
<li class="nav-sub-item">
                        <a class="nav-sub-link" href="{% url 'add-gallery' %}">افزودن گالری جدید </a>
                    </li>

                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link with-sub" href="#"><span class="shape1"></span><span class="shape2"></span><i
                        class="ti-wallet sidemenu-icon"></i><span class="sidemenu-label">مدیریت محصولات</span><i
                        class="angle fe fe-chevron-left"></i></a>
                <ul class="nav-sub">
                    <li class="nav-sub-item">
                        <a class="nav-sub-link" href="#">محصولات</a>
                    </li>

                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link with-sub" href="#"><span class="shape1"></span><span class="shape2"></span><i
                        class="ti-wallet sidemenu-icon"></i><span class="sidemenu-label">درباره ما</span><i
                        class="angle fe fe-chevron-left"></i></a>
                <ul class="nav-sub">
                    <li class="nav-sub-item">
                        <a class="nav-sub-link" href="#">ویرایش درباره ما</a>
                    </li>
                     <li class="nav-sub-item">
                        <a class="nav-sub-link" href="#">ویرایش تماس با ما</a>
                    </li>

                </ul>
            </li>
             <li class="nav-header"><span class="nav-label">باشگاه مشتریان</span></li>
            <li class="nav-item">
                <a class="nav-link with-sub" href="#"><span class="shape1"></span><span class="shape2"></span><i
                        class="ti-wallet sidemenu-icon"></i><span class="sidemenu-label">باشگاه مشتریان</span><i
                        class="angle fe fe-chevron-left"></i></a>
                <ul class="nav-sub">
                    <li class="nav-sub-item">
                        <a class="nav-sub-link" href="#">افزودن مشتری</a>
                    </li>
                     <li class="nav-sub-item">
                        <a class="nav-sub-link" href="#">لیست کامل مشتریان</a>
                    </li>
                    <li class="nav-sub-item">
                        <a class="nav-sub-link" href="#">مشتریان بالقوه</a>
                    </li>
                    <li class="nav-sub-item">
                        <a class="nav-sub-link" href="#">مشتریان خوب</a>
                    </li>
                     <li class="nav-sub-item">
                        <a class="nav-sub-link" href="#">مشتریان ضعیف</a>
                    </li>
                    <li class="nav-sub-item">
                        <a class="nav-sub-link" href="#">ارسال پیام کوتاه به یک مشتری</a>
                    </li>
                    <li class="nav-sub-item">
                        <a class="nav-sub-link" href="#">مدیریت شارژ پیامک </a>
                    </li>

                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- End Sidemenu -->