{% load static %}
<header class="header-wrap style1">

    <div class="container-fluid container-full">
        <div class="row align-items-center">
            <div class="col-xl-3 col-lg-6 col-md-6 col-6">
                <a href="{% url 'index' %}" class="logo">
                    <img src="{{ setting.logo.url }}" alt="{{ setting.title }}">
                </a>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-6">
                <div class="main-menu-wrap style1">
                    <div class="menu-close xl-none">
                        <a href="javascript:void(0)"><i class="las la-times"></i></a>
                    </div>
                    <div id="menu">
                        <ul class="main-menu list-style">
                            <li>
                                <a class="active" href="{% url 'index' %}">خانه</a>

                            </li>
                            <li>
                                <a href="{% url 'products' %}">محصولات</a>

                            </li>

                            <li>
                                <a href="{% url 'blog-list' %}">وبلاگ</a>

                            </li>
                            <li><a href="{% url 'contact' %}">تماس با ما</a></li>
                        </ul>
                    </div>
                </div>
                <div class="mobile-bar-wrap">

                    <div class="mobile-menu xl-none">
                        <a href="javascript:void(0)"><i class="las la-bars"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 lg-none">
                <div class="header-right">

                    <a href="{% url 'contact' %}" class="btn style1"> درخواست مشاوره<i
                            class="flaticon-left-arrow-1"></i> </a>
                </div>
            </div>
        </div>
    </div>
</header>



