{% extends 'web/base_admin.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
خدمات
{% endblock %}



{% block header_page %}
<div class="page-header" xmlns="http://www.w3.org/1999/html">
					<div>

						<ol class="breadcrumb">

							<li class="breadcrumb-item active" aria-current="page">

                                خدمات
                            |
                                (تعداد محتوا

                                 <strong class="text-danger">
                                     {{count_services}}
                                 </strong>
                                عدد )

                            </li>
						</ol>
					</div>

				</div>
{% endblock %}

{% block content %}

<div class="row">
					<div class="col-lg-12">
						<div class="card custom-card">
							<div class="card-body">

								<div class="row">
    <div class="col-lg-12">
        <div class="card custom-card">
            <div class="card-body">


				<div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="box-card-single box-card-wallet mb-40 wow fadeInUp">
                        <div class="box-card-inner text-center">



                             <div class="table-responsive">
                         <table class="table" id="example1">
                            <thead>
                            <tr>
                                <th style="width:50px"></th>
                                <th>عنوان</th>
                                <th> بازدید</th>
                                <th>دسته بندی</th>


                                <th>وضعیت</th>
                                <th style="width:300px">عملیات</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for service in services %}


                            <tr class="border-bottom">



                                <td>
															<span class="crypto-icon bg-danger-transparent ml-3 my-auto">
																<img width="30" src="{{ service.image.url }}" alt="{{ service.title }}">

															</span>
                                </td>
                                <td class="font-weight-bold">{{ service.title }}</td>
                                <td>{{ service.hit }}</td>
                                <td class="text-danger font-weight-bold">
                                    {{ service.category }}
                                </td>

                                 <td>{% if service.status %}
                                 منتشر شده

                                     {% else %}
                                     <small class="text-danger">
منتشر نشده

                                     </small>

                                     {% endif %}

                                 </td>
                                 <td>
                                     <a href="{% url 'edit-service' service.id %}" class="btn btn-sm btn-warning">ویرایش</a>

                                 </td>




                            </tr>


                            {% endfor %}
                            </tbody>
                        </table>
                    </div>


                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
							</div>
						</div>
					</div>
				</div>
{% endblock %}

{% block javas %}

{% endblock %}

</body>
</html>